/*
Colors:
#2a363b black
#e84a5f red
#ff847c orange
#fecea8 yellow




*/


hr {
  border: dotted #fecea8 6px;
  border-bottom: none;
  width: 4%;
  margin: 40px auto 40px auto;
}

h3, h2 {
  text-align: center;
}

.container {
  width: 70%;
  margin: 0 auto;
}

button {
  background-color: white;
  font-weight: bold;
  border: none;
  box-shadow: -6px 6px 15px black;
}
.l-feature-button{
  border-radius: 10px 0 0 10px;
}
.r-feature-button{
  border-radius: 0 10px 10px 0;
}
button:focus {
  outline:0;
}

body {
  color: #e84a5f;
  font-family: 'Cinzel', serif;
}

/***********************

  MAIN PAGE HEADER

         **********************/
.feature::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70%;
  border-bottom: 1px solid white;
}

.feature,
.main-header,
.main-footer {
  background-color: #2a363b;
}
.feature,
.main-footer {
  padding: 1em 0;
}
.main-header a,
.main-footer a {
  text-decoration: none;
  color: #e84a5f;
}
.main-header li {
  list-style: none;
}
.name,
.main-nav,
.main-nav li {
  display: inline-block;
}
.main-nav a {
  color: #ff847c;
  font-family: 'Cinzel', serif;
  padding: 0 5px 0 5px;
}

.name {
  font-family: 'Lobster', serif;
}

/***********************

      FEATURE & MIDDLE CONTAINER

         **********************/
.card-mid {
  width: 220px;
  height: 300px;
  background-color: transparent;
  box-shadow: -15px 15px 20px black;
  border-radius: 8px;
}

.card {
  width: 190px;
  height: 260px;
  background-color: transparent;
  box-shadow: -10px 10px 10px black;
  border-radius: 8px;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}
.r-feature-button,
.l-feature-button {
  width: 25px;
  height: 100px;
}
.feature-inner,
.recently-added,
.popular {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recently-added-cards,
.popular-cards {
  width: 100px;
  height: 100px;
  background-color: transparent;
  box-shadow: -5px 5px 10px black;
}


/***********************

      GRID CONTAINER

         **********************/
.grid-container {
  margin: 15px 0 30px 0;
  display: grid;
  grid-template-columns: 220px, 220px, 220px, 220px;
  grid-template-rows: 300px, 300px, 300px;
  grid-gap: 15px 15px;
  justify-content: center;
}

.grid-item_1 {
  grid-column-start: 1;
  grid-row-start: 1;
}
.grid-item_2 {
  grid-column-start: 2;
  grid-row-start: 1;
}
.grid-item_3 {
  grid-column-start: 3;
  grid-row-start: 1;
}
.grid-item_4 {
  grid-column-start: 4;
  grid-row-start: 1;
}

/***********************

      FILTERS

         **********************/


.filter-wrap {
  margin: 1px;
  position: absolute;
  left: 1px;
  top: 120px;
  padding: 10px 0 0 10px;
  background-color: #2a363b;
  width: 1px;
  height: 600px;
}
.apply{
  margin-top: 10px;
}
.filter-toggle{
  position: absolute;
  right: -30px;
  box-shadow: none;
  bottom: 5px;
}
.filters{
  display: none;
}
/***********************

      STATUS PAGE

         **********************/
.status-page {
  position: absolute;
  z-index: 20;
  left: 40%;
  top: 30%;
  background-color: #e84a5f;
  width: 400px;
  height: 270px;
  text-align: right;
  padding: 15px;
  display: none;
  justify-content: center;
  border-radius: 8px;
}
.status-page-description {
  width: 180px;
  height: 200px;
  padding: 5px;
  margin: auto 0 auto 5px;
  background-color: #2a363b;
  border-radius: 8px;
  text-align: center;
  color: white;
}
.undim,
.add-to-cart {
  box-shadow: none;
  position: absolute;
  background: transparent;
}
.undim {
  top: 5px;
  right: 1px;
}
.add-to-cart {
  bottom: 5px;
  right: 5px;
}
.quantity-label,
.quantity {
  position: absolute;
  height: 30px;
  width: 35px;
}
.quantity {
  right: 15%;
  bottom: 10px
}
.quantity-label {
  right: 40%;
  color: #2a363b;
  bottom: 4px;
}

/***********************

      DIMMER

         **********************/

#dimmer {
  background:#000;
  opacity:0.8;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  z-index:10;
}
/***********************

      PAGE INDICATION

         **********************/
.page-number {
  display: flex;
  justify-content: center;
  bottom: 12%;
  left: 50%;
}
.previous-page,
.next-page {
  box-shadow: none;
}
.previous-page{
  color: white;
}
.page-number-label {
  font-size: 1.5em;
}
/***********************

      FOOTER CONTAINER

         **********************/

.wrap {
  min-height: calc(100vh - 118px);
}
.main-footer {
  text-align: center;
}
.copyright{
  color: #ff847c;
}
.footer-link {
  padding-left: 1em;
  padding-right: 1em;
}
