{{define "header"}}
<div id="pageTop" class="container">
      <h1 class="name"><a href="home">CHOCOBO INN</a></h1>
      <input
          class="search"
          type="search"
          name="card-search"1
          placeholder="Search by Keyword"
          />
      <a href="products"><i class="fas fa-search"></i></a>
  </div>
  {{end}}