/***********************

      CARD IMAGES

         **********************/


#feature-1 {
  background-image: url('cards/1-005R.jpg');
}
#feature-2 {
  background-image: url('cards/1-041L.jpg');
}
#feature-3 {
  background-image: url('cards/1-047R.jpg');
}
#feature-4 {
  background-image: url('cards/1-064R.jpg');
}
#feature-5 {
  background-image: url('cards/1-084H.jpg');
}
#feature-6 {
  background-image: url('cards/1-102H.jpg');
}
#feature-7 {
  background-image: url('cards/1-117R.jpg');
}
#feature-8 {
  background-image: url('cards/1-131R.jpg');
}
#feature-9 {
  background-image: url('cards/1-149H.jpg');
}
#feature-10 {
  background-image: url('cards/1-182L.jpg');
}
#feature-11 {
  background-image: url('cards/1-198S.jpg');
}
#feature-12 {
  background-image: url('cards/2-077L.jpg');
}
#recently-one {
  background-image: url('snippets/1-082R.jpg');
}
#recently-two {
  background-image: url('snippets/1-098R.jpg');
}
#recently-three {
  background-image: url('snippets/1-142R.jpg');
}
#recently-four {
  background-image: url('snippets/2-037R.jpg');
}
#recently-five {
  background-image: url('snippets/2-063R.jpg');
}
#popular-one {
  background-image: url('snippets/5-158S.jpg');
}
#popular-two {
  background-image: url('snippets/5-159S.jpg');
}
#popular-three {
  background-image: url('snippets/5-160S.jpg');
}
#popular-four {
  background-image: url('snippets/5-161S.jpg');
}
#popular-five {
  background-image: url('snippets/5-162S.jpg');
}
